<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/css/styles_about.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    </head>
    <body>
        <div class="about-section fade-in2">
            <h1 style="font-family: 'Montserrat'">About Us</h1>
            <p style="font-family: 'Montserrat'"> 
                We are a group of passionate students that attend the University of Texas at Austin. 
                Amidst the COVID crisis, we saw the opportunity to create a web app that could help people 
                identify where they could get the optimal healthcare. As a young group of ambitious computer 
                scientists, we are striving to create a lasting impression on the world, and MedView is one 
                of the integral stepping stones to our learning and development. Please share this application 
                with close friends and family and thank you for checking out MedView.
            </p>
        </div>
      
        <div class="name-section fade-in2 particle-container">

            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>
            <div class="particle"></div>

        <div class="row">

            <h1 style="font-family: 'Montserrat';text-align:center;color: white">The Team</h1>
            <div class="column fade-in">
                <div class="slot">
                    <div class="container">
                        <h2 style="font-family: 'Montserrat'">Zachary Siegel</h2>
                        <p style="font-family: 'Montserrat'">siegelzc@utexas.edu</p>
                    </div>
                </div>
            </div>
      
            <div class="column fade-in2">
                <div class="slot">
                    <div class="container">
                        <h2 style="font-family: 'Montserrat'">James Dong</h2>
                        <p style="font-family: 'Montserrat'">jamesjd210@utexas.edu</p>
                    </div>
                </div>
            </div>
    
            <div class="column fade-in3">
                <div class="slot">
                    <div class="container">
                        <h2 style="font-family: 'Montserrat'">Ashray Desai</h2>
                        <p style="font-family: 'Montserrat'">ashraydesai@utexas.edu</p>
                    </div>
                </div>
            </div>

        </div>
            
        <div class="row">

            <div class="column fade-in4">
                <div class="slot">
                    <div class="container">
                        <h2 style="font-family: 'Montserrat'">Albert Cho</h2>
                        <p style="font-family: 'Montserrat'">albert.cho@utexas.edu</p>
                    </div>
                </div>
            </div>

            <div class="column fade-in4">
                
            </div>

            <div class="column fade-in5">
                <div class="slot">
                    <div class="container">
                        <h2 style="font-family: 'Montserrat'">Stephen Rhee</h2>
                        <p style="font-family: 'Montserrat'">stephen0815@utexas.edu</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
  </body>
</html>


