<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <h2>MedView</h2>
  </head>
  <!-- BODY -->
  <body id="body">
    <!-- Drop down entry field-->
    <form method="POST">
      <input name="Your Healthcare Insurance Provider">
      <input type="Go!">
    </form>
    <!-- Text entry field and Go! button-->    
    <form method="POST">
      <input name="Your Healthcare Insurance Provider">
      <input type="Go!">
    </form>
    <select name= health_institution method="GET" action="/">
        {% for institution in health_institution %}
        <option value= "{{health_institution}}" SELECTED>{{health_institution}}</option>
        {% endfor %}
    </select>
    <!-- Map --->
    <div id="map"></div>

    <script src="../static/dist/main.js"></script>
  </body>
</html>