<!DOCTYPE html>
<html>
  <!-- HEAD -->
  <head>
    <h2>MedView</h2>
  </head>
  <!-- BODY -->
  <body id="body">
    <!-- Drop down entry field-->
    <select name= insurance_providers method="GET" action="/">
      {% for provider in insurance_providers %}
      <option value= "{{insurance_providers}}" SELECTED>{{provider}}</option>
      {% endfor %}
    </select>
    <br>
    <select name= health_institutions method="GET" action="/">
        {% for institution in health_institutions %}
        <option value= "{{health_institutions}}" SELECTED>{{institution}}</option>
        {% endfor %}
    </select>
    <!-- Map --->
    <div id="map"></div>

    <script src="../static/dist/main.js"></script>
  </body>
</html>